


.slider-content{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px!important;
    background-repeat: repeat-x;
}

.slider-content-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding:0 40px;
}
.swiper {
    max-width: 1024px!important;
    margin: 0!important;
    margin-left: auto !important;
}
@media screen and (min-width: 2060px) {
    .slider-resize-content{
        width: calc(100% - 1024px) !important;
    } 
    .slider-resize-slider{
        width: 1024px !important;
    }
}
.card-image-container{
    width: 743px;
    height: 418px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.card-image-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.flex-box{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    font-size: 15px;
}
.lang-btn-container a.active{
    color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.lang-btn-container a:hover{
    color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.lang-btn-container{
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    margin-right: 130px;
    color: #f5f5f5a7;
}
a{
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}

.about_div{
    max-height: calc(100vh - 400px) !important;
    overflow-y: auto;
}